name: Java CI

on:
  push:
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          java-package: 'jdk+fx'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-cleanup: never
      - name: Build with Gradle
        run: ./gradlew build --no-daemon --parallel
        env:
          MICROSOFT_AUTH_ID: ${{ secrets.MICROSOFT_AUTH_ID }}
          MICROSOFT_AUTH_SECRET: ${{ secrets.MICROSOFT_AUTH_SECRET }}
          CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
      - name: Get short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: sleepy-gui-${{ env.SHORT_SHA }}-jar
          path: |
            Sleepy-GUI/build/libs/sleepy-gui-*.jar
            Sleepy-GUI/build/libs/sleepy-gui-*.jar.sha256
